<table id="filterrific_results">
  <thead>
    <tr>
      <th>Quiz from</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="1">Options</th>
    </tr>
  </thead>

  <tbody>
    <% quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.user.email %></td>
        <td><%= quiz.name %></td>
        <td><%= quiz.description %></td>
        <td><%= link_to material_icon.play_circle_outline.md_24, start_quiz_play_now_index_path(:id => quiz), :"data-tooltip" => "Start quiz" %></td>
      </tr>
    <% end %>
  </tbody>
</table>